1 {
    color: white;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
    color: red;

}
h2 { font-family:Arial;
    font-size:30px;
}
body { background-image: url('smaug.png');
        background-repeat: initial ;
    }